@import "tailwindcss";
/* index.css বা App.css এর একদম নিচে */

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

/* Hover করলে Animation Pause করার জন্য (Optional) */
.animate-marquee:hover,
.animate-marquee2:hover {
  animation-play-state: paused;
}